body{
    background-image: url(../picture/background.png);
    background-size:100% 100%;
    background-attachment:fixed;
}

@font-face {
    font-family: BrushScript;
    src: url(../fonts/Brush\ Script.ttf);
}

#container{
    padding: 0;
}

nav{
    padding: 10;
    -webkit-backdrop-filter: blur(15px);
    border-radius:15px;
    margin: 10;
    transition: all 0.6s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.5);
}

nav:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav{
    -webkit-backdrop-filter: blur(15px);
}

#nav_vertical{
    height: calc(80hv);
    overflow: auto;
}


#hello{
    font-size: 200%;
    font-family: BrushScript;
    color:lightcoral;
    cursor:pointer;
    background: rgba(255, 255, 255, 0.1);
}

.card{
    cursor:pointer;
    border-radius:10px;
    margin: 5;
    transition: all 0.6s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.5);
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content{
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.3);
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.6s;
}

.modal-content:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.show{
    background: rgba(255, 255, 255, 0);
}

.form-control{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.6s;
}

.form-control:focus{
    box-shadow: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-check-input{
    background-color: rgba(255, 255, 255, 0.5);
}

#search{
    width: 30%;
    transition:all 0.6s;
}

#search:hover{
    width: 60%;
}

.add_event_btn{
    position: relative;;
    left: 110%;
    bottom:40px;
    height: 0.25rem;
    width: 10%;
    font-size: x-large;
    border-radius: 50%;
    transition: visibility 0.6s, opacity 0.6s;
    visibility: hidden;
    opacity: 0;
    color:green;
    cursor:pointer;
}

.del_event_btn{
    position: relative;
    right: 18%;
    bottom:50px;
    height: 0.25rem;
    width: 10%;
    font-size: xx-large;
    border-radius: 50%;
    transition: visibility 0.6s, opacity 0.6s;
    visibility: hidden;
    opacity: 0;
    color:red;
    cursor:pointer;
}

.todo_div{
    width: 120%;
    left: 0px;
}

#search-input{
    border-color: gray;
}

#events{
    height:calc(90vh);
    overflow-y: auto;
}

.nav{
    border: 0;
}

.calendar-btn{
    color:black;
    width:150px;
    margin-top: 0;
    border: 0;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.5);
}

#calendar{
    /* height:calc(80vh); */
    transition: all 0.6s;
}

.calendar-btn.active{
    background-color:rgba(255, 255, 255, 0.8);
    border: 0;
}

.calendar-btn:hover{
    color:black;
    background-color:rgba(255, 255, 255, 0.8);
    border: 0;
}
