{% extends 'base.html' %}
{%block title%}Login{%endblock%}
{% block form %}
<script src="{{ url_for('static', filename='js/forget_password.js') }}"></script>
<a id="back" role="button" class="btn btn-outline-secondary" href="{{url_for('user.login')}}"><</a>
<form action="{{ url_for('forget_password') }}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Please input the old password:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="old_password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Please input the new password:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="new_password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Please confirm your new password:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password_confirm">
  </div>
  <div class="md-3 row">
    <label for="exampleCaptcha" class="form-label">Get captcha:</label>
    <div class="col-6">
      <input type="text" class="form-control" id="exampleCaptcha" name="captcha" />
    </div>
    <div class="col-6 d-grid">
      <button type="button" class="btn btn-primary" id="captcha-btn">Get captcha</button>
    </div>
    <label class="form-label"></label>
  </div>
  <div class="col-12 d-grid">
    <label class="form-label"></label>
    <button type="submit" class="btn btn-primary">Change password</button>
    <label class="form-label"></label>
  </div>
</form>
{%endblock%}
    <!-- <form action="{{ url_for('forget_password') }}" method="POST">
      <table>
        <tbody>
          <tr>
            <td>请输入邮箱：</td>
            <td>
              <label>
                <input type="email" name="email" />
              </label>
            </td>
          </tr>
          <tr>
            <td>请输入新密码：</td>
            <td>
              <label>
                <input type="password" name="new_password" />
              </label>
            </td>
          </tr>
          <tr>
            <td>请确认新密码：</td>
            <td>
              <label>
                <input type="password" name="password_confirm" />
              </label>
            </td>
          </tr>
          <tr>
            <td>验证码：</td>
            <td>
              <label>
                <input type="text" name="captcha" />
              </label>
            </td>
            <td>
              <button type="button" id="captcha-btn">获取验证码</button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit">修改密码</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form> -->
